.container{
    display: flex;
    justify-content: center;
}

.card-container {   
  display: grid;
   grid-template-columns: 1fr;
   justify-content: center;    
}

li.monkey-card{
    grid-column: auto;
    width: auto;
}

/* tablet */
@media screen and (min-width:768px) and (max-width: 1199px) {
.card-container {
    grid-template-columns: repeat(2, 1 fr);
    gap: 24px;
}

li.monkey-card {
    grid-column: span 2;
    width: 100%;
    
}
}
    
       
/* Desktop */
@media screen and (min-width: 1199px){
   .card-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
   }
   
}
